<head>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    html
      {
         font-family: Arial;
      }

      body {
        background-color: #C0C0C0;
      }

      #widget {
        position:absolute;
        left:50%;
        top:50%;
        margin:-100px 0 0 -150px;
        background-color: white;
        width:310px;
        height:160px;
        border-style:solid;
        border-width:1px;
        border-color: gray;
        border-radius:15px;
        box-shadow: 5px 5px 2px #606060;
      }

        #cityDiv{
          position:top;
          height:21%;
          padding:5px;
        }

        #citySpan{
          font-size:20px;
        }

        #tempBody{
          position:top;
          height:45%
        }

        #tempDiv{
          float:left;
          width:35%;
          margin-left:8px;
        }

        #tempSpan{
          font-size:60px;
        }

        #condDiv{
          float:left;width:30%;
        }

        #weatherImg{
          width:50px;
        }

        #condText{
          font-size:9px;
        }

        #forecastDiv{
          float:left;
          height:34%;
          width:100%;
        }

        #forecastDayDiv{
          width:20%;
          float:left;
          padding-left:3px;
          font-size:11px;
        }

        #forecastTempDiv{
          width:20%;
          float:left;
          padding-left:3px;
          font-size:10px
        }

    </style>
</head>
<div ng-app="myApp" ng-controller="AppCtrl">


  <div id="widget">

    <div id="cityDiv">
      <span id="citySpan">&nbsp;{{weather.location.city}}, {{weather.location.region}}</span>
    </div>

    <div id="tempBody">

      <div id="tempDiv">
        <span id="tempSpan">{{weather.item.condition.temp}}°</span>
      </div>

      <div style="condDiv">
        <img id="weatherImg" ng-src="{{image}}"/>
        <br>
        <span id="condText"><b>{{weather.item.condition.text}}</b></span>
      </div>

      <br>

      <div id="forecastDiv">

      <div ng-repeat="x in weather.item.forecast | limitFromTo: 1 : 6">
        <div id="forecastDayDiv">
          <center>
            <b>{{x.day}}</b>
          </center>
        </div>
      </div>

      <div ng-repeat="x in weather.item.forecast | limitFromTo: 1 : 6">
        <div id="forecastTempDiv">
          <center>
            <b>{{x.high}}° / {{x.low}}°</b>
          </center>
        </div>
      </div

      </div>

    </div>

  </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script>

    var myApp = angular.module('myApp', []);

    //filter to limit the extended forecast
    myApp.filter('limitFromTo', function(){
        return function(input, from, to){
            return (input != undefined)? input.slice(from, to) : '';
        }
    });

    myApp.controller('AppCtrl', ['$scope','$http', function ($scope,$http) {

    // function to get the JSON from our server at the /weather endpoint
    function getWeather(){
      $http.get("/weather")
      .then(function(response) {
        $scope.weather = response.data;
        $scope.descriptionHtml = $scope.weather.item.description;
        var n1 = $scope.descriptionHtml.indexOf("http://"); //beginning of image url
        var n2 = $scope.descriptionHtml.indexOf(".gif"); //end of image url
        n2 = n2+4; //add four to include ".gif"
        $scope.image = $scope.descriptionHtml.slice(n1,n2); //slice together to get just our image url
      });
    }
    //run function to get our JSON
    getWeather();

    }]);

</script>
</div>
